body{
  font-size: 16px;
  padding: 0;
}
.toppage{
  height:640px;
}
.index-back{
  width: auto;
  background-image: url("https://cdn.voicetube.com/assets/img/banner02.jpg");
  background-position-x: 37%;
  height: 100%;
}
.index-describe{
  font-size: 4rem;
  font-weight: 700;
  color: white;
  width: 100%;
  position: absolute;
  top: 200px;
  left: 100px;
  text-shadow: 2px 2px #000000;
}
.index-input{
  position: absolute;
  top: 375px;
  left: 100px;
  width: 432px;
  height: 40px;
  border: solid 1px black;
}
.index-input-banner{
  width: 432px;
  height: 38px;
}
.index-input-btn{
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: white;
  padding: 5px 10px;;
  border: 0px;
  border-left: solid 1px black;
  height: 38px;
}
.row{
  margin:0 10%;
}
h3{
  font-size:1.5rem;
  display: -webkit-box;
	overflow:hidden;
	text-overflow : ellipsis;
	-webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.caption{

}
.side{

  max-width:100%;
  height: auto;

}
.videospan{
  display:flex;
  flex-wrap: wrap;
}
.thumbnail{
  min-height: 280px;
  min-width: 170px;

}
.btn-tag{
  border-radius : 3px;
  line-height : 14px;

  padding: 2px 4px;
  margin-right: 0.5rem;
  font-size: 11.84px;
  font-weight: 700;
  width: 45px;
  height: 16px;
}
.btn-like{
  background-color: rgb(153,153,153);
  color: white;
  padding: 4px 4px;
  position: relative;
  margin: 0 0 0 3rem;
  font-size: 9px;
}
.timedisplay{
  display: inline;
}
.title{

}

#hidden{
  display: none;
}
